spring:
  application:
    name: sinergia_backend

  datasource:
    url: jdbc:postgresql://localhost:5432/sinergia_db
    username: postgres
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true